
<!-- add-section component -->
<header class="flex flex-row px-16 py-4 bg-lightTertiary flex-shrink-0 gap-6">
  <app-section-headerbtn
  [text]="'Add Section'" 
  [icon]="'ph:browsers'" 
  (onClick)="addSectionToQuestionnaire()"
  class="text-white"
  ></app-section-headerbtn>

  <app-section-headerbtn
  [text]="'Save as Template'" 
  [icon]="'ph:file-arrow-down'" 
  ></app-section-headerbtn>

  <app-section-headerbtn
    [text]="'Preview'" 
    [icon]="'ph:eye'" 
  ></app-section-headerbtn>
</header>

<!-- Loader -->
@if(isLoading) {
  <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
      <div class="text-white text-xl">Saving your questionnaire...</div>
  </div>
}

<div class="flex h-[93%] text-textColour">
  <div class="px-16 py-4 w-[70%] overflow-auto">
    <!-- current questionnaire details -->
    <div class="flex flex-col items-start mb-4" >
      <div class="py-2">
        <h1 class="text-2xl font-bold">{{ questionnaire?.title}}</h1>
        <span class="font-thin text-base">{{ questionnaire?.description}}</span>
      </div>
    </div>
    <!-- current questionnaire details end-->

      <!-- section cards -->
  
      @for(section of sections; track $index) {
        <div class="mt-6">
          <app-section-card
            [section]="section"
            [index]="$index"
            (onSectionDelete)="confirmSectionDelete($event)"
            (onSectionSave)="editSection($event)"
            (onSubSectionDelete)="confirmSubSectionDelete($event)"
            (onSubSectionSave)="editSubSection($event)"
            (addSubSectionEvent)="addSubSectionToSection(section.id!)"
            (addQuestionEvent)="addQuestionToSection(section.id!)"
            (emitSectionId)="setCurrentSectionId($event)"
            (emitSubSectionId)="setCurrentSubSectionId($event)"
            (onQuestionSave)="editQuestion($event)"
            (onQuestionDelete)="confirmQuestionDelete($event)"
            (onSubSectionQuestionSave)="editSubSectionQuestion($event)"
            (onSubSectionQuestionDelete)="confirmSubSectionQuestionDelete($event)"
          ></app-section-card>
        </div>
      }
  
      
  
      <!-- buttons -->
      <div class="flex justify-between mt-auto mb-2 place-content-end w-full">
          <div class=" flex flex-row gap-4">
            <div class="w-44">
              <app-secondary-button
              [buttonTitle]="'Cancel'"
              ></app-secondary-button>
            </div>

            <div class="w-44">
              <app-tertiary-button
              [buttonTitle]="'Save Progress'"
              ></app-tertiary-button>
            </div>
          </div> 

          <div class="w-44">
            <app-primary-button
            [buttonTitle]="'Done'"
            (onClickEvent)="saveQuestionnaireUpdates()"
            ></app-primary-button>
          </div>
          
      </div>
  
  </div>

  <!-- Delete Confirmation Dialog -->
  @if (showDeleteQuestionDialog) {
    <app-dialog-box
    [dialogHeading]="'Confirm Delete'"
    [dialogMessage]="'Are you sure you want to delete this question?'"
    [confirmText]="'Delete'"
    (cancelDialogEvent)="cancelQuestionDelete()"
    (confirmDialogEvent)="deleteQuestion()"
    > </app-dialog-box>
  } @else if (showDeleteSectionDialog) {
    <app-dialog-box
    [dialogHeading]="'Confirm Delete'"
    [dialogMessage]="'Are you sure you want to delete this section?'"
    [confirmText]="'Delete'"
    (cancelDialogEvent)="cancelSectionDelete()"
    (confirmDialogEvent)="deleteSection()"
    > </app-dialog-box>
  }

  <!-- Settings section -->

   <!-- Question Setting Sidebar -->
   @if(selectedQuestion != null) {
    <div class="w-[30%] bg-tertiaryCardColour overflow-y-auto">
      <app-question-settings-card
        (saveQuestionEvent)="editQuestion($event)"
      ></app-question-settings-card>
    </div>
  }
  <!-- Section Setting Sidebar -->
  @if(selectedSection != null) {
    <div class="w-[30%] bg-tertiaryCardColour overflow-y-auto">
      <app-section-settings-card
        (saveSectionEvent)="editSection($event)"
      ></app-section-settings-card>
    </div>
  }

</div>
