<div 
  routerLink="{{ item.link }}" 
  routerLinkActive="active-menu-item" 
  [routerLinkActiveOptions]="{ exact: true }"
  role="button"
  class="flex items-center w-full p-4 leading-tight focus:bg-gray-300 transition-all rounded-lg hover:bg-gray-300 hover:bg-opacity-80">
  
  <div class="grid place-items-center mr-4">
    <icon name="{{item.icon!}}"
    [ngClass]="{'text-lightSecondary': isActive(item.link!), 'text-lightTertiary': !isActive(item.link!)}"></icon>
  </div>
  <span *ngIf="isMenuOpen" 
    [ngClass]="{'font-bold': isActive(item.link!), 'font-light': !isActive(item.link!)}">
    {{ item.text }}
  </span>
</div>
