<!-- =========== Main Section Start =========== -->
<section class="h-screen w-full flex">
        
    <div class="hidden xl:block w-[40%]">
        <div class="relative h-screen bg-darkTertiary bg-center bg-cover py-16 px-14">
            <!-- Gradient overlay -->
            <div class="absolute inset-0 bg-gradient-to-t from-darkPrimary opacity-[75%] via-transparent to-transparent"></div>
            
            <!-- Text section -->
            <div class="absolute bottom-16 w-full text-start text-white">
                <h1 class="text-4xl font-bold">Get started now!</h1>
                <span class="text-3xl font-light">Start making a difference today</span>
            </div>
        </div>
    </div>
    

    <!-- form section  -->
    <div class="max-w-lg mx-auto my-auto bg-white flex flex-col justify-center md:items-start items-center px-16 py-12 w-[60%]">
        <div class="md:text-start text-center mb-7">

            <!-- logo -->
             <div class="place-items-start">
                <img src="/assets/statsSALogo.png" class="object-contain w-[40%]">
             </div>
            

            <div class="md:text-start text-center">
                <h3 class="text-2xl font-semibold text-textColour">Stats SA Questionnaire Designer</h3>
                <span class="text-sm text-textColour font-normal">Sign in to Your account</span>
            </div>
        </div>

        <form class="text-start w-full">
            
            <!-- <div class="mb-4">
                <input id="email-addon" class="block w-full rounded-md py-2.5 px-4 text-dark text-base font-medium border-gray-300 focus:gray-300 focus:border-primary focus:outline-0 focus:ring-0 placeholder:text-light placeholder:text-base" type="email" placeholder="Enter your email">
            </div> -->

            <div class="mb-4">
                <div class="relative">
                    <input type="text" 
                            class="px-6 py-2 placeholder:text-textHint placeholder:text-sm border rounded-md bg-primaryInputBg border-primaryInputBg focus:border-primaryInputBg w-full outline-none" 
                            placeholder="Enter your email" />
                </div>

            </div>

            <div class="mb-6">
                <div class="relative">
                    <input type="password" 
                            class="px-6 py-2 placeholder:text-textHint placeholder:text-sm border rounded-md bg-primaryInputBg border-primaryInputBg focus:border-primaryInputBg w-full outline-none" 
                            placeholder="Enter password" />
                </div>

            </div>

            <app-primary-button
            (onClickEvent)="login()"
            [buttonTitle]="'Login'"
            > </app-primary-button>


        </form>
    </div>
</section>
