<!-- dashboard component -->
<div class="flex flex-col h-screen">
    <!-- App bar -->
    <app-appbar class="h-[10%] bg-white flex-shrink-0"></app-appbar>
  
    <!-- Main content section -->
    <div class="flex h-[90%] overflow-hidden">
      <!-- Side menu section -->
      <app-side-menu class="bg-gray-200 flex-shrink-0"></app-side-menu>
  
      <!-- Content section -->
      <div class="flex-grow bg-mainBg flex-shrink-0">
        <!-- displays add-section component and other components -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>