<!-- section card component -->
<div class="flex my-4">

  <div class="card flex flex-col mr-2 items-start px-4 py-3 bg-primaryCardColour rounded-md shadow-md w-full">
    <div class="card-header flex justify-between items-center w-full">
      <input 
        [(ngModel)]="section.title" 
        (input)="isEditing = true"
        (blur)="isEditing = false"
        class="w-[50%] bg-primaryInputBg border border-b-darkPrimary border-transparent mb-4 outline-none"
        placeholder="Section Title" />

        <icon
        [name]="showContent ? 'ph:caret-up' : 'ph:caret-down'" 
        (click)="toggleContent()" 
        class="cursor-pointer text-gray-400 focus:outline-none"
        >

        </icon>
    </div>
    @if(showContent) {
        <div class="w-full" cdkDropList (cdkDropListDropped)="drop($event)">
            @for(item of section.items; track $index) {
                <div class="flex flex-row" cdkDrag>
                    <!-- Drag Icon -->
                    <icon name="ph:dots-nine"></icon>
                    
                    <!-- //get the instance of the variable and display accordingly -->
                     @if(isQuestionModel(item)) {
                      <ng-container>
                        <app-question-card
                        class="w-full"
                        [questionIndex]="$index"
                        [question]="item"
                        (saveEvent)="onQuestionSave.emit($event)"
                        (onDelete)="deleteQuestion($event)"
                        cdkDrag>
                      </app-question-card>
                      </ng-container>
                      
                     }
                     @if(isSubSectionModel(item)) {
                      <ng-container>
                        <app-sub-section-card
                        class="w-full"
                        [subSection]="item"
                        (emitSubSectionId)="emitSubSectionId.emit($event)"
                        (onQuestionSave)="onSubSectionQuestionSave.emit($event)"
                        (onQuestionDelete)="onSubSectionQuestionDelete.emit($event)"
                        (onSubSectionSave)="onSubSectionSave.emit($event)"
                        (onSubSectionDelete)="onSubSectionDelete.emit($event)"
                        cdkDrag>
                      </app-sub-section-card>
                      </ng-container>
                      
                     }
                </div>
            }
        </div>
    }
    <div class="flex justify-between w-full mt-auto">
      <button (click)="addNewQuestion()" class="text-lightTertiary font-bold">+ Add Question</button>
      <button (click)="addNewSubSection()" class="text-lightTertiary font-bold">+ Add SubSection</button>
    </div>
    
  </div>

  <div class="flex flex-col gap-4">
    @if(isEditing) {
      <app-icon-texts-col
      (click)="onSectionSave.emit(section)" 
      [icon]="'ph:check'"
      [text]="'save'" 
      ></app-icon-texts-col>
      
    }@else {
      <app-icon-texts-col
        class="opacity-[50%] cursor-not-allowed"
        [icon]="'ph:check'"
        [text]="'save'" 
        ></app-icon-texts-col>
    }

    <app-icon-texts-col
    (click)="openSettings()"
    [icon]="'ph:gear-six'"
    [text]="'settings'" 
    ></app-icon-texts-col>

    <app-icon-texts-col
    (click)="onSectionDelete.emit(section.id!)"
    [icon]="'ph:trash-simple'"
    [text]="'delete'" 
    ></app-icon-texts-col>
  </div>
</div>
