<!-- app-question-type-card -->

<div class="flex flex-col items-start my-3">
    <!-- Header -->
    <h3 class="font-bold text-white bg-darkBlue py-2 px-4 rounded-t-md w-full">Question Type</h3>
  
    <!-- Grid Container -->
    <div class="bg-lightTertiary px-4 py-2 rounded-b-md w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      @for(option of questionTypeOptions; track $index) {
        <app-icon-text 
          (onClick)="onOptionSelect(option.title)" 
          [icon]="option.icon" 
          [text]="option.title"
          [textColor]="selectedOption === option.title ? 'text-lightPrimary' : 'text-white'"
          [iconColor]="selectedOption === option.title ? 'text-lightPrimary' : 'text-white'">
        </app-icon-text>
      }
  </div>
  