<!-- app-question-settings-card -->

<div class="flex-col text-textColour  overflow-y-auto">
  <h2 class="text-xl text-white px-6 py-4 font-bold mb-4 bg-darkBlue">Question Settings</h2>

  <!-- Questions -->
  <div class="px-6 py-4">
    <!-- Variable Name -->
    <label for="variable-name" class="block text-md font-bold mb-2">Variable Name</label>
    <input
      [(ngModel)]="selectedQuestion!.variableName"
      id="variable-name"
      class="w-full mb-4 px-4 py-2 border-white rounded-md bg-white outline-none"
      placeholder="Enter_variable_name"
    />

    <!-- Skip logic Accordion -->
    <label class="block text-md font-bold mb-2">Skip Logic</label>
    <app-secondary-button
      (onClickEvent)="toggleValidationAccordion()"
      [buttonTitle]="'Add Condition'"
    ></app-secondary-button>

    @if(validationAccordionOpen) {
      <div class="p-4 bg-gray-300">
        <!-- skip logic fields  -->
        <label for="variable-name" class="block text-md text-gray-600 font-normal mb-2">Skip question if</label>
        <input
          [(ngModel)]="selectedQuestion!.skipWhen"
          id="skip-when"
          class="w-full mb-4 px-4 py-2 border-white rounded-md bg-white outline-none"
          placeholder="Enter Condition"
        />
      </div>
    }

    <!-- Responses table  -->
    @if(selectedQuestion?.type == 'Single select' || selectedQuestion?.type == 'Multiple choice') {

    <div class="mt-6">
      <label for="variable-name" class="block text-md text-gray-600 font-normal mb-2">Responses</label>

      <table class="table-auto w-full border-collapse border-transparent">
        <thead class="bg-lightPrimary text-white font-bold items-center">
          <tr>
            <th class="px-3 py-2 text-left text-sm rounded-tl-md">value</th>
            <th class="px-3 py-2 text-left text-sm w-[60%]">title</th>
            <th class="px-3 py-2 text-right w-[15%] rounded-tr-md">
              <icon (click)="addItem()" name="ph:plus" class="text-white cursor-pointer"></icon>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white text-textColour w-full">
          @for (item of selectedQuestion?.options; track $index) {
          <tr class="w-full">
            <td class="px-2 py-4 border-transparent border-b-black">
              <input
                [(ngModel)]="item.variableName"
                [readonly]="optionBeingEdited?.id !== item.id"
                [ngClass]="{'border-b-black': optionBeingEdited?.id == item.id}"
                placeholder="item_1"
                class="font-bold w-20 border-2 placeholder:font-normal placeholder:italic border-transparent bg-white outline-none"
              />
            </td>
            <td class="px-2 py-4 border-transparent border-b-black">
              <input
                [(ngModel)]="item.name"
                [readonly]="optionBeingEdited?.id !== item.id"
                [ngClass]="{'border-b-black': optionBeingEdited?.id == item.id}"
                placeholder="item"
                class="font-bold w-full border-2 placeholder:font-normal placeholder:italic border-transparent bg-white outline-none"
              />
            </td>
            <td class="py-4 border-transparent border-b-black">
              <icon 
                (click)="toggleEdit($index)" 
                [name]="optionBeingEdited?.id === item.id ? 'ph:check' : 'ph:pencil-simple'" 
                class="text-darkBlue cursor-pointer mr-2"></icon>
              <icon 
                (click)="deleteItem($index)" 
                name="ph:trash-simple" 
                class="text-darkBlue cursor-pointer"></icon>
            </td>
          </tr>
          @if(optionBeingEdited?.id === item.id) {
            <!-- display filter condition card  -->
            <tr class="accordion-content bg-lightTertiary">
              <td colspan="3" class="px-4 py-2">
                <div class="p-4 bg-gray-300">
                  <label for="filter-condition" class="block text-md text-white font-normal mb-2">Filter Condition</label>
                  <input type="text"
                      id="filter-condition"
                      [(ngModel)]="item.filterCondition"
                      class="w-full mb-4 px-4 py-2 border-white rounded-md bg-white outline-none"
                      placeholder="Expression here..." />
                </div>
              </td>
            </tr>
          }
          }
        </tbody>
      </table>
    </div>
    }
    <!-- Responses table  -->

    <!-- Save Button -->
    <div class="mt-4">
      <app-primary-button (onClickEvent)="saveQuestion()" [buttonTitle]="'Save'"></app-primary-button>
    </div>
  </div>
</div>

<!--  -->