<div class="flex flex-col my-3">
    <!-- Loop through options -->
    @for(option of options; track $index ) {
        <app-icon-text
          [textColor]="'text-textColour'"
          [iconColor]="'text-lightTertiary'"
          [icon]="'ph:circle-bold'"
          [text]="option">
        </app-icon-text>
    }

    <!-- Add Option Section -->
     @if(isAdding) {
        <div class="flex items-center gap-2 mt-2">
            <input 
              type="text" 
              [(ngModel)]="newOption"
              placeholder="Enter new option"
              class="w-full px-6 py-2  bg-primaryInputBg placeholder:text-darkTertiary text-textColour rounded-md border border-transparent outline-none"
            />
            <icon name="ph:check-circle-bold" (click)="addOption()" class="text-approve cursor-pointer mx-4"></icon>
            <icon name="ph:x-circle-bold" (click)="cancelAdd()" class="text-reject cursor-pointer text-2xl"></icon>
        </div>
     }
    

    <!-- Add Button -->
     @if(!isAdding) {
        <h2 (click)="showInput()" class="text-lightTertiary font-bold cursor-pointer">+Add</h2>
     }
    
</div>
