<div 
  [ngClass]="{'w-52': isMenuOpen, 'w-16': !isMenuOpen}" 
  class="relative flex flex-col h-full bg-darkPrimary text-white transition-all duration-300">

  <!-- Header Section -->
  <div 
    [ngClass]="{'place-content-between': isMenuOpen, 'place-content-center': !isMenuOpen}" 
    class="flex items-center p-4">
    <h5 *ngIf="isMenuOpen" class="font-sans text-xl font-semibold lg:hidden text-gray-400">Logo</h5>
    <icon 
      [name]="isMenuOpen ? 'ph:x' : 'ph:list'" 
      (click)="toggleMenu()" 
      class="cursor-pointer text-gray-400 focus:outline-none"></icon>
  </div>

  <hr class="my-2 mx-2 text-lightSecondary">

  <!-- Navigation Section -->
  <nav class="flex flex-col gap-1 p-2 font-sans text-base font-normal flex-grow">
    <ng-container *ngFor="let item of menuItems">
      <div>
        <!-- Main Menu Item -->
         <app-side-menu-item
         *ngIf="!item.isDropDown"
         [item]="item"
         [isMenuOpen]="isMenuOpen"
         >
         </app-side-menu-item>

        <!-- Dropdown Menu Item -->
         @if(item.isDropDown) {
          <app-dropdown-side-menu-item
          [item]="item"
          (toggleDropdownEvent)="toggleDropdown($event)"
          [isMenuOpen]="isMenuOpen"></app-dropdown-side-menu-item>
         }

      </div>
    </ng-container>
  </nav>

  <!-- Footer Section (Logout) -->
  <div class="mt-auto">
    <hr class="text-lightSecondary mx-2">

    <div
      role="button"
      class="flex items-center w-full p-4 leading-tight focus:bg-gray-300 transition-all rounded-lg hover:bg-gray-300 hover:bg-opacity-80">
      
      <div class="grid place-items-center mr-4">
        <icon name="ph:question"
        class="text-lightTertiary hover:text-lightSecondary"></icon>
      </div>
      <span *ngIf="isMenuOpen" class="text-gray-900">Help</span>
    </div>

    <div
      role="button"
      class="flex items-center w-full p-4 leading-tight focus:bg-gray-300 transition-all rounded-lg hover:bg-gray-300 hover:bg-opacity-80">
      
      <div class="grid place-items-center mr-4">
        <icon name="ph:gear"
        class="text-lightTertiary hover:text-lightSecondary"></icon>
      </div>
      <span *ngIf="isMenuOpen" class="text-gray-900">Settings</span>
    </div>

    <div
      role="button"
      class="flex items-center w-full p-4 leading-tight focus:bg-gray-300 transition-all rounded-lg hover:bg-gray-300 hover:bg-opacity-80">
      
      <div class="grid place-items-center mr-4">
        <icon name="ph:sign-out"
        class="text-lightTertiary hover:text-lightSecondary"></icon>
      </div>
      <span *ngIf="isMenuOpen" class="text-gray-900">Log out</span>
    </div>
  </div>
</div>
